.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.droppable {
  position: absolute;
  width: 45%;
  height: 60%;
  right: 5%;
  top: 30%;
  background-color: #9E9E9E;

}

.draggable {
  width: 85%;
  height: 15%;
  background-color: #fcba03;
  margin: 10px auto;
  text-align: left;
}

.inProgress {
  position: absolute;
  width: 45%;
  height: 60%;
  left: 5%;
  top: 30%;
  background-color: #EEEEEE;

}

#article{
  width: 55%;
  height: 80%;
  margin: 0 auto;
}

#logo{
  height: 10%;
  width: 10%;
  margin-top: 2%;
  margin-left: 2%;
}
